/* templatemo_style.css
Style Sheet for professional website of Meghan K. Moore
Created by Meghan K. Moore
Last Update: May 28, 2016 */

body {
    background: #ffffff url("images/Background.png") repeat-y fixed;
    background-size: cover;
    font-family: 'Oswald', arial, sans-serif;
    color: #737373; /*images are #808080*/
    text-align: center;
}

.profile-pic {
  margin: 30 auto;
}

.profile-pic img{
  max-width: 300px;
}

.elevator-pitch {
  margin: 30 auto;
  text-align: center;
}

.external-links {
  list-style-type: none; /*removes bullets*/
  margin: 0 auto;
  padding: 0;
  width: 75%;
  max-width: 750px;
}

.external-links li {
  display: inline;
}

.external-links img {
  max-width: 75px;
}
